/* @font-face {
    font-family: 'Ubuntu Mono';
    src: url('https: //res.cloudinary.com/dd8jtryuv/raw/upload/v1706468950/Dsa-tracker%20assets/Ubuntu_Mono/UbuntuMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('https: //res.cloudinary.com/dd8jtryuv/raw/upload/v1706468906/Dsa-tracker%20assets/Ubuntu_Mono/UbuntuMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('https: //res.cloudinary.com/dd8jtryuv/raw/upload/v1706468925/Dsa-tracker%20assets/Ubuntu_Mono/UbuntuMono-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('https: //res.cloudinary.com/dd8jtryuv/raw/upload/v1706468973/Dsa-tracker%20assets/Ubuntu_Mono/UbuntuMono-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
} */